<nav th:fragment="nav" class="navbar bg-black">
  <div class="container-fluid">
    <span class="navbar-brand text-light py-2 h1">W.A Moto Peças</span>
  </div>
  <div class="container-fluid border-top border-light border-opacity-25">
    <ul class="nav m-auto">
      <li class="nav-item">
        <a class="nav-link active text-light" aria-current="page" href="/home">Início</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Produtos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Contato</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" onclick="main()" href="/painelcontrole" >Painel de Controle</a>
      </li>
    </ul>
  </div>
</nav>